
agm-map {
    height: 100vh;
  }
  .container-fluid{
    padding: 0px 15px 0px 0px;
  }
.route-wrapper{
  height: 100vh;
  overflow-y: auto;
  background: #fdfdfd;
  padding: 0px;
}
  .route-selection{

    background: #009688;
    padding: 30px 15px 15px 25px;
    .form-control{
      border-radius: 0px;
      box-shadow: none;
      margin-bottom: 15px;
      border:none;
      background: rgba(255,255,255,0.9);
    //  color: #fff;
     //border-bottom: 1px solid rgba(255,255,255,0.5)
    }
    .btn{
      &.btn-custom{
        border-radius: 0px;
        background: #fff;
        color: #009688;
        font-weight: 500;
        padding:8px 20px;
      }
    }
  }

  .routes-section{
    .item{
      padding: 10px 15px 10px 25px;
      cursor: pointer;
      margin: 0px;
      border-bottom: 1px solid #aaa;
      &:hover{

        background: #f0f0f0;
      }
      h3{
        font-size: 16px;
        margin-top: 0px;
      }
      .route-name{
        display: inline-block;
        vertical-align:top;
        width: 67%;
        font-weight: 600;
      }
      
      .route-attr{
        @extend .route-name;
        width:30%;
        text-align: right;
        h4{
          font-size: 14px;
        }
      }
    }
  }
  .map-section{
    padding-left: 0px;
  }