
agm-map {
    height: 100vh;
  }
  .container-fluid{
    padding: 0px 15px 0px 0px;
  }
  a{
    
    text-decoration: none;
    &:hover{
      
      text-decoration: none;
    }
  }
.route-wrapper{
  height: 100vh;
  overflow-y: auto;
  background: #fdfdfd;
  padding: 0px;
}
  .route-selection{

    background: #009688;
    padding: 30px 15px 15px 30px;
    margin-bottom: 10px;
    .form-control{
      border-radius: 0px;
      box-shadow: none;
      margin-bottom: 15px;
      border:none;
      background: rgba(255,255,255,0.9);
    //  color: #fff;
     //border-bottom: 1px solid rgba(255,255,255,0.5)
    }
    .btn{
      &.btn-custom{
        border-radius: 0px;
        background: #fff;
        color: #009688;
        font-weight: 500;
        padding:8px 20px;
      }
    }
  }

  .routes-section{
    .item{
      padding: 10px 15px 10px 25px;
      cursor: pointer;
      margin: 0px;
      border-bottom: 1px solid #aaa;
      &:hover{

        background: #f0f0f0;
      }
      h3{
        font-size: 16px;
        margin-top: 0px;
      }
      .route-name{
        display: inline-block;
        vertical-align:top;
        width: 67%;
        font-weight: 600;
      }
      
      .route-attr{
        @extend .route-name;
        width:30%;
        text-align: right;
        h4{
          font-size: 14px;
        }
      }
    }
  }
  .panel{
    background: none;
    border: none;
    .panel-heading{
      border-radius: 0px;
      background: #009688;
      padding: 15px 30px;
      border: none;
      border-bottom: 1px solid #009688;
      h4{
        color: #fff;
      }
    }
    .collapsed{
    .panel-heading{
      background: none;
      padding: 15px 30px;
      border: none;
      border-bottom: 1px solid #009688;
      h4{
        color: #009688;
      }
      &:hover{
        background: #009688;
        h4{
          color: #fff;
        }
      }
    }
  }
    .panel-body{
      padding-right: 0px;
    }
    
  }
  
  .places-section{
    .item{
      padding:10px 15px;
      h1{
        margin-top: 0px;
        font-size: 18px;
        line-height: 25px;
        font-weight: 500;
      }
      h5{
        font-size: 14px;
        color: #888;
        line-height: 20px;
        margin-top: 15px;
    
      }
      &:nth-child(even){
        background: #f2f2f2;
      }
    }
  }
  .map-section{
    padding-left: 0px;
  }