<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="route-selection">
      <input placeholder="Enter Source" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #originFeild [ngModel]='origin' >
      <input placeholder="Enter Destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #destFeild [ngModel]='destination' >
      <select [(ngModel)]='mode' class='form-control'>
        <option value='DRIVING'>Driving</option>
        <option value="WALKING">Walking</option>
        <option value="BICYCLING">Bicycling</option>
        <option value="TRANSIT">Transit</option>
      </select>
     
      <button (click)='getRoute(0)' class="btn btn-custom">Get Direction</button>
      </div>
      <div class="routes-section">
        <div class="item" *ngFor='let route of routes; let i=index' (click)='getRoute(i)'>
          <h3 class="route-name">{{route.summary}}</h3>
          <div class='route-attr'>
            <h3>{{route.legs[0].distance.text}}</h3>
            <h4>{{route.legs[0].duration.text}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <agm-map [latitude]="lat" [longitude]="lng">
        <sebm-google-map-directions [origin]="origin" [destination]="destination" [selectedMode]='mode' (routes)='getAllRoutes($event)'></sebm-google-map-directions>
      </agm-map>
    </div>
  </div>
</div>



